@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Marck+Script');

@keyframes fadein {
    from {filter: opacity(0);}
    to   {filter: opacity(1);}
}

body {
    background: #E7D6C5 url("bouchardon-self-portrait.jpg") repeat fixed center 25%;
    background-size: cover;
    font-family: "Crimson Text", serif;
}

ul {
    text-align: left;
    margin-left: 5%;
}

h2 {
    padding-top: 0;
    margin-bottom:  0;
    padding-bottom: 0;
}

.cardrow {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5% 14% 10%;
    animation-name: fadein;
    animation-duration: 1s;
}

.card {
    overflow: hidden;
    width: 400px;
    height: 550px;
    background: #E2CA8E url("parchment-paper.jpg");
    background-size: cover;
    border: 2px solid #fff;
    box-shadow: 0 0 50px;
}

.left {
    left: 30%;
}

.right {
    overflow: auto;
    left: 70%;
    text-align: center;
}

.cardleftcontainer {
    position: relative;
    margin: auto;
    height: 100%;
}

.cardrightcontainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.portrait {
    position: absolute;
    top:    -9999px;
    left:   -9999px;
    right:  -9999px;
    bottom: -9999px;
    margin: auto;
    height: 100%;
}

.namebanner {
    position: absolute;
    bottom: 18%;
    width: 100%;
    background: url("text-ribbon.png") bottom no-repeat;
    background-size: 85% 20%;
    font-family: "Marck Script", cursive;
    font-size: 1.6em;
    text-align: center;
    color: #fff;
    padding: 92% 0px 16px 0px;
}

.decoration {
    position: absolute;
    background: url("fancy-border.png");
    background-size: 100% 100%;
    width:  100%;
    height: 100%;
}

.topinfo {
    margin: 0 0 0;
    font-weight: bold;
}

.bio {
    color: #C32814;
}

.biotext {
    margin: 0 0 0;
}

.quote, p.significance {
    margin-left:  20px;
    margin-right: 20px;
}

.quote, .publication {
    font-style: italic;
}

.quote:before, .quote:after {
    content: '"';
}
